//-----------------------------------------------------------------------------
// ** Include files
//-----------------------------------------------------------------------------
#include <windows.h>
#include "Resource.h"  // <-- defines: ID_DIALOG_TEMPLATE

//-----------------------------------------------------------------------------
// ** Minimal dialog template, we add controls later with code.
//-----------------------------------------------------------------------------
ID_DIALOG_TEMPLATE DIALOGEX 0, 0, 0, 0 STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU {}
