//---------------------------------------------------------------------------------------------
// ** Resource.rc
//---------------------------------------------------------------------------------------------
// The names are defined in "Resource.h"
//---------------------------------------------------------------------------------------------
#include "Resource.h"
//---------------------------------------------------------------------------------------------


//---------------------------------------------------------------------------------------------
// ** Icons
//---------------------------------------------------------------------------------------------
ID_ICON1        ICON        "c:\\my_project\\res\\my_icon.ico"
ID_ICON1_SM     ICON        "c:\\my_project\\res\\my_icon_sm.ico"


//---------------------------------------------------------------------------------------------
// ** Bitmaps
//---------------------------------------------------------------------------------------------
ID_IMAGE1       BITMAP      "c:\\my_project\\res\\my_image1.bmp"
ID_IMAGE2       BITMAP      "c:\\my_project\\res\\my_image2.bmp"


//---------------------------------------------------------------------------------------------
// ** Wave sounds
//---------------------------------------------------------------------------------------------
ID_SOUND1       WAVE        "c:\\my_project\\res\\my_sound1.wav"
ID_SOUND2       WAVE        "c:\\my_project\\res\\my_sound2.wav"


